*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.footer-box1 {
    display: flex;
    margin: 2% 20%;
    align-items: center;
    line-height: 30px;
}

.footer-box1 div {
    flex: 50%;    
}

.footer-box1 h2 {
    padding: 15px 0;
}

.footer-box1 i {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.footer-box2 {
    background-color: lightgrey;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    font-weight: 600;
}

/* -------------Schedular page CSS ---------------- */

.schedular {
    border: 2px solid gray;
    margin: 10% 20%;
    border-radius: 8px;
}

.nav-schedular {
    margin: 25px;
}

.nav-schedular ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-schedular li {
    margin-right: 0px;
    /* display: inline-block;
     */
     float: left;
}

.nav-schedular li a {
    display: block;
    width: 40px;
    padding: 8px;
    text-align: center;
    background-color: #2c3e50;
    text-decoration: none;
    color: white;
}

.nav-schedular li a:hover {
    background-color: #151f29;
}

#round-border-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#round-border-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-schedular span {
    padding: 8px;
}

.today {
    background-color: gray;
    border-radius: 5px;
    color: white;
    margin: 0 12px;
}

#date { 
    font-size: 28px;
    margin:0 20px 0 50px;
}

.calendar {
    clear: both;
}

/* -------- table ------------ */
.tbl, .th, .col {
    border: 1px solid lightgray;
    /* text-align: center; */
}

.tbl {
    border-collapse : collapse;
    margin : 2%;
    width : 95%;
}
.tbl th {
    text-align: center;
}

.tbl td{
    /* padding: 0px 20px; */
    text-align: left;
}

.tbl tr {
    height: 50px;
    text-align: center;
}